[submodule "packages/auth"]
	path = packages/auth
	url = git@github.com:goobits/auth.git
[submodule "packages/nano-banana"]
	path = packages/nano-banana
	url = git@github.com:goobits/nano-banana.git
[submodule "packages/sitemap"]
	path = packages/sitemap
	url = git@github.com:goobits/sitemap.git
[submodule "packages/security"]
	path = packages/security
	url = git@github.com:goobits/security.git
[submodule "infra/aw"]
	path = infra/aw
	url = https://github.com/goobits/aw.git
