img {
	border: 0;
}

#listing {
	background: #fff8dd;
	border-radius: 5px;
	font-size: 1.25em;
	font-weight: normal;
	padding: 1em;

	div {
		clear: both;
	}
}

#listing a {
	display: block;
	padding: 0.25em;
	text-decoration: none;
}

#listing a img {
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}


#listing a strong {
	text-decoration: underline;
	font-weight: normal;
	display: inline;
}
