body
	background-image: url("https://assets.codepen.io/1538474/star.svg"), linear-gradient(to bottom, #05007a, #4d007d)
	background-attachment: fixed

main
	h1, h2
		color: white
		text-shadow: none

.mars
	left: 0
	right: 0
	bottom: 0
	position: absolute
	height: 27vmin
	background: url("https://assets.codepen.io/1538474/mars.svg") no-repeat bottom center
	background-size: cover
	z-index: -1

.subtitle
	color: white
	font-size: 1.25em
	text-align: center
	line-height: 1.75em

.spaceship
	position: absolute
	bottom: 15vmin
	right: 24vmin
	breakpoint(mobile)