body {
	background: white
	background-attachment: fixed
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 18px
	height: 100%
	margin: 0
}

a {
	color: #0074d9

	&:visited {
		color: #0074d9
	}

	&:hover,
	&:hover:visited {
		color: #ff3c52
	}
}

img {
	vertical-align: middle
}

input,
textarea {
	background-color: rgba(255, 255, 255, 0.75)
	border: 1px solid rgba(0, 0, 0, 0.25)
	border-radius: 5px
	color: #666
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 18px
	font-weight: 300
	margin-bottom: 15px
	margin-top: 2px
	padding: 8px 12px
	transition-duration: .25s
	transition-property: background
	width: 100%
}

button {
	align-items: center
	background-color: #1ca260
	border: 0
	border-radius: 5px
	border-style: solid
	color: #fff
	cursor: pointer
	display: inline-flex
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size: 1.2em
	font-weight: 300
	outline: none
	padding: 0.5em 1em
	text-decoration: none
	text-transform: none
	transition: background-color 0.1s linear
}

header {
	background: #361b68
	background-image: url('/media/hexabump.png')
	border-bottom: 1px solid #2b1259
	box-shadow: 0 0 10px -2px #361b68
	display: block
	height: 120px
	line-height: 120px
	white-space: nowrap
	width: 100vw

	center {
		margin: 0 auto
		max-width: 960px
		width: calc(100% - 2em)
		height: inherit

		logo {
			color: white
			float: left
			height: inherit
			width: 220px
			display: grid
			align-items: center

			img {
				display: inline-block
			}

			a {
				display: inline-block
				text-decoration: none
				color: white
			}
		}

		links {
			float: right
			font-weight: 300
			text-transform: uppercase

			a {
				display: inline-block
				color: white
				border-bottom: 3px solid transparent
				margin-left: 2em
				line-height: 2em
				transform: scaleY(1.1)
				text-decoration: none

				.twitter {
					transform: none
				}

				&[aria-current],
				&[aria-current]:hover {
					border-bottom: 3px solid white
					color: white
					pointer-events: none
				}

				&:hover {
					border-bottom: 3px solid #ff3c52
				}

				&:visited {
					color: white
				}
			}

			img {
				width: 40px
			}
		}
	}
}

main {
	display: block
	font-weight: 300
	line-height: 1.5em
	margin: 0 auto
	max-width: 960px
	min-height: calc(100vh - 120px - 105px - 8vh)
	padding: 3em 1em 0
	width: calc(100% - 40px)

	h1 {
		color: black
		font-size: 3.25em
		font-weight: black
		line-height: 1em
		margin: 0
		outline: none
		text-align: center
		text-shadow: 1px 1px 1px white
	}

	h2 {
		color: black
		font-size: 2.25em
		font-weight: lighter
		line-height: 1em
		margin: 0.5em 0 1.57em
		outline: none
		text-align: center
		text-shadow: 1px 1px 1px white
	}

	projects {
		display: grid
		grid-gap: 0 1em
		grid-template-columns: repeat(auto-fit, 305px)
		justify-content: center

		.project {
			background: #ffffff
			color: #000
			cursor: pointer
			flex: 0 1 calc(33.33% - 20px)
			margin: 0 20px 2.5em 0
			position: relative
			text-decoration: none

			&:hover {
				color: black

				project-image {
					box-shadow: rgba(9, 30, 66, 0.5) 0px 4px 8px -2px, rgba(9, 30, 66, 0.16) 0px 0px 0px 1px
				}

				span {
					background: #351364
					color: white
					text-decoration: underline
				}
			}

			&:nth-child(3n) {
				margin-right: 0
			}

			project-image {
				background: lightgray
				background-repeat: no-repeat
				background-size: cover
				border-radius: 5px
				display: block
				height: 230px
				box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px
				width: 100%
				transition: all 0.15s ease-in-out
			}

			project-description {
				display: block
				font-weight: lighter
				line-height: 1.5em
				padding: 0.5em 1em
				text-align: center
				top: 255px
			}

			project-title {
				height: 2em
				left: 0
				line-height: 2em
				position: absolute
				font-weight: 400
				right: 0
				text-align: center
				top: -0.75em

				span {
					background: black
					border: 1px solid rgba(0, 0, 0, 0.5)
					border-radius: 5px
					color: white
					display: inline-block
					padding: 0 1.25em
					transition: background 0.15s ease-in-out, color 0.15s ease-in-out
				}
			}
		}
	}
}

footer {
	background: #361b68
	background-image: url('/media/hexabump.png')
	border-top: 1px solid #2b1259
	color: white
	display: block
	font-style: italic
	height: calc(102px - 4vh)
	line-height: 32px
	margin-top: 4vh
	padding: 1.5vh 0 2.5vh
	text-align: center
	white-space: nowrap
	width: 100vw

	a {
		color: white

		&:visited {
			color: white
		}
	}
}

@media (max-width: 700px) {
	main {
		h1 {
			font-size: 8vw
		}

		h2 {
			font-size: 5vw
		}
	}

	header {
		center {
			links {
				background: #361b68
				background-image: url('/media/hexabump.png')
				border-radius: 5px
				padding: 0 1em
				position: absolute
				right: 0
				text-align: right

				&:before {
					content: "🍔"
					cursor: pointer
					display: block
					font-size: 2em
				}

				&.open {
					a,
					a[aria-current] {
						display: block

						&.twitter {
							display: none
						}
					}
				}

				a,
				a[aria-current] {
					margin: 0
					border-bottom: none !important
					text-align: left
					display: none
					position: relative
					top: -0.5em
				}
			}
		}
	}

	footer {
		font-size: max(1em, 2.5vw)
	}
}