contact-form {
	display: block

	contact-form-errors {
		color: #e91e63
		display: block
		padding: 0.5em 0 0.75em 0.5em
		list-style-type: square
	}

	form-title {
		padding-left: 0.5em

		span {
			color: #e91e63
			float: right
			font-weight: bold
		}
	}

	textarea {
		height: 10em
		margin-bottom: 0
	}
}