img {
	border: 0
}

form {
	margin: 0
	padding: 0
}

#container {
	font-family: Optima, Helvetica
	display: block
	margin-left: auto
	margin-right: auto
	padding: 9px
	border-radius: 10px
}

#breadcrumbs {
	color: #aaa
	font-size: 18px
	margin: 15px 0 8px 8px
}

#breadcrumbs a, #breadcrumbs a:visited, #breadcrumbs a:link, #breadcrumbs a:active {
	color: rgba(255, 255, 255, 1)
}

#breadcrumbs a:hover {
	color: #A44
}

#listingcontainer {
	border-radius: 5px
	background: rgba(0, 0, 0, 0.4)
	padding: 10px
}

#listingheader {
	font-weight: bold
	font-size: 18px
	text-align: right
	padding-bottom: 4px
}

#listingheader a, #listingheader a:active, #listingheader a:visited, #listingheader a:link {
	color: #cc9
	font-weight: normal
}

#listingheader a:hover {
	color: #fff
}

#headerfile {
	text-align: left
	float: left
	width: 620px
}

#headersize {
	text-align: right
	width: 75px
	float: left
}

#listing {
	border-radius: 3px
}

#listing a {
	line-height: 1.5em
	display: block
	border-radius: 5px
	padding: 8px 10px
	font-size: 18px
	color: #9bf
	text-decoration: none
	width: 98.5%
	text-align: right

}

#listing a:hover {
	text-decoration: underline
	background-color: rgba(255, 255, 255, 0.15)
	box-shadow: 0 0 30px #000
	color: #fff
}

#listing a img {
	float: left
	margin-right: 10px
	margin-top: 4px
}


#listing a strong {
	width: 600px
	float: left
	cursor: pointer
	text-align: left
}

#listing a em {
	float: left
	width: 75px
	text-align: right
	cursor: pointer
}

#listing a span {
	position: absolute
	margin-left: -151px
	margin-top: -2px
}

#listing a span img {
	width: 150px
	background-color: #CCCCCC
	visibility: hidden
}

#listing a:hover span img {
	border: 1px solid #666666
	visibility: visible
}


.b {
	border-top: 1px solid #000
	background-color: rgba(0, 0, 0, 0)
}

.w {
	border-top: 1px solid #000
	background-color: rgba(0, 0, 0, 0)
}

.mod {
	float: right
}

.size {
	float: right
}
