img {
	border: 0
}

#listing {
	border-radius: 3px

	div {
		clear: both
	}
}

#listing a {
	line-height: 1.5em
	display: block
	border-radius: 5px
	padding: 8px 10px
	font-size: 18px
	color: #9bf
	text-decoration: none
	width: 98.5%
	text-align: right

}

#listing a:hover {
	text-decoration: underline
	background-color: rgba(255, 255, 255, 0.15)
	box-shadow: 0 0 30px #000
	color: #fff
}

#listing a img {
	float: left
	margin-right: 10px
	margin-top: 4px
}


#listing a strong {
	width: 600px
	float: left
	cursor: pointer
	text-align: left
}
